.root {
    -fx-base: #1a1a1a;
    -fx-background: #1a1a1a;
    -fx-text-fill: #e6e6e6;
}

.menu-bar {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
}

.menu {
    -fx-text-fill: #e6e6e6;
}

.menu-item {
    -fx-text-fill: #e6e6e6;
}

.menu-item:hover {
    -fx-background-color: #444444;
}

.pane-with-border {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
}

.split-pane {
    -fx-background-color: #1a1a1a;
}

.split-pane .split-pane-divider {
    -fx-background-color: #444444;
}

/* Style the status bar */
.status-bar {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
    -fx-text-fill: #e6e6e6;
}

.stack-pane {
    -fx-background-color: #222222;
}

.stack-pane .text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #e6e6e6;
    -fx-border-color: #e6e6e6;
    -fx-prompt-text-fill: #a0a0a0;
}

.stack-pane .text-field:focused {
    -fx-border-color: #4d4d4d;
}

.error {
    -fx-text-fill: #ff6666 !important;
}

.list-cell:empty {
    -fx-background: #1a1a1a;
}

.tag-selector {
    -fx-border-color: #e6e6e6;
}

.tooltip-text {
    -fx-text-fill: #e6e6e6;
}

#copyButton, #helpMessage {
    -fx-text-fill: #e6e6e6;
}

#copyButton {
    -fx-background-color: #444444;
}

#treeView {
    -fx-border-color: #444444;
}

#methodDescription {
    -fx-border-color: #444444;
}

#copyButton:hover {
    -fx-background-color: #666666;
}

#copyButton:armed {
    -fx-background-color: #222222;
}

#helpMessageContainer {
    -fx-background-color: #222222;
}

#cardPane {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;

}

/* Style the labels */
.cell_big_label {
    -fx-text-fill: #e6e6e6;
}

.cell_small_label {
    -fx-text-fill: #b3b3b3;
}

.label.tag {
    -fx-background-color: #333333;
    -fx-text-fill: #e6e6e6;
    -fx-border-color: #e6e6e6;

}

.progress-indicator .percentage {
    -fx-fill: #e6e6e6;
}

.list-view {
    -fx-background-color: #222222;
    -fx-border-color: #444444;
}

.list-view .list-cell {
    -fx-background-color: #333333;
    -fx-border-color: #444444;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: #e6e6e6;
}

.list-view .list-cell:filled:selected:focused {
    -fx-background-color: #666666;
    -fx-text-fill: #e6e6e6;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #333333;
}

#taskCardPane {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
}

.cell_big_label {
    -fx-text-fill: #e6e6e6;
}

.cell_small_label {
    -fx-text-fill: #b3b3b3;
}

#taskCardPane .flow-pane.cell_small_label {
    -fx-background-color: #333333;
    -fx-border-color: #444444;
}

.person-index {
    -fx-background-color: #444444;
    -fx-text-fill: #e6e6e6;
    -fx-border-color: #e6e6e6;
}
.pane-with-border {
    -fx-background-image: url("../images/night_sky.png");
}

.status-bar {
    -fx-background-image: url("../images/night_wave.png");
    -fx-border-color: #5d99c6;

}
.result-display {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.result-display .content {
    -fx-background-color: transparent;
}

.result-display .viewport {
    -fx-background-color: transparent;
}
