/*@@author Guo-KeCheng*/
.root {
    -fx-base: #1a1a1a;
    -fx-background: #1a1a1a;
    -fx-text-fill: #e6e6e6;
    -fx-primary: #ffadc9; //pink
    -fx-secondary: derive(#1d1d1d, 10%);
    -fx-primary-foreground: derive(#1d1d1d, 40%);
    -fx-primary-background: derive(#1d1d1d, 20%);
    -fx-primary-text: #ffb6c1;
    -fx-secondary-text: white;
}

.menu-bar {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
}

.menu {
    -fx-text-fill: #e6e6e6;
}

.menu-item {
    -fx-text-fill: #e6e6e6;
}

.menu-item:hover {
    -fx-background-color: #444444;
}

.pane-with-border {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #1a1a1a;
}

.split-pane .split-pane-divider {
    -fx-background-color: #444444;
    -fx-border-color: transparent transparent transparent -fx-primary;
    -fx-padding: 0 1px;
}

/* Style the status bar */
.status-bar {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
    -fx-text-fill: #e6e6e6;
}

.stack-pane {
    -fx-background-color: #222222;
}

.stack-pane .text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #e6e6e6;
    -fx-border-color: #e6e6e6;
    -fx-prompt-text-fill: #a0a0a0;
}

.stack-pane .text-field:focused {
    -fx-border-color: #4d4d4d;
}

.error {
    -fx-text-fill: #ff6666 !important;
}

.list-cell:empty {
    -fx-background: #1a1a1a;
}

.tag-selector {
    -fx-border-color: #e6e6e6;
}

.tooltip-text {
    -fx-text-fill: #e6e6e6;
}

#copyButton, #helpMessage {
    -fx-text-fill: #e6e6e6;
}

#copyButton {
    -fx-background-color: #444444;
}

#treeView {
    -fx-border-color: #444444;
}

#methodDescription {
    -fx-border-color: #444444;
}

#copyButton:hover {
    -fx-background-color: #666666;
}

#copyButton:armed {
    -fx-background-color: #222222;
}

#helpMessageContainer {
    -fx-background-color: #222222;
}



.cell_small_label {
    -fx-text-fill: #b3b3b3;
}

.label.tag {
    -fx-background-color: #333333;
    -fx-text-fill: #e6e6e6;
    -fx-border-color: #e6e6e6;

}

.progress-indicator .percentage {
    -fx-fill: #e6e6e6;
}

.list-view {
    -fx-background-color: #333333;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.list-view .list-cell {
    -fx-background-color: #333333;
    -fx-border-width: 0px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #333333;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#taskCardPane {
    -fx-background-color: #1a1a1a;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#taskCardPane .flow-pane.cell_small_label {
    -fx-background-color: #333333;
    -fx-border-color: #444444;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#cardPane {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #444444;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#cardPane:hover {
    -fx-border-color: -fx-primary;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.list-cell:selected #cardPane {
    -fx-border-color: -fx-primary;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.cell_big_label {
    -fx-text-fill: #e6e6e6 !important;
}

.cell_small_label {
    -fx-text-fill: #b3b3b3;
}

.person-index {
    -fx-background-color: #444444;
    -fx-text-fill: #e6e6e6;
    -fx-border-color: #e6e6e6;
}
.pane-with-border {
    -fx-background-image: url("../images/night_sky.png");
}

.status-bar {
    -fx-background-image: url("../images/night_wave.png");
    -fx-border-color: #5d99c6;

}
.result-display {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.result-display .content {
    -fx-background-color: transparent;
}

.result-display .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: white;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 6 1 6;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 6 1 6 1;
}
