
#treeView {
    -fx-border-width: 8px;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 14 14 14 14;
}

#methodDescription {
    -fx-border-width: 4px;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 14 14 14 14;
    -fx-font-size: 14px;
    -fx-word-wrap: break-word;
}
