/* Set the background color and border for the card pane */
#cardPane {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Style the labels */
.cell_big_label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.cell_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

/* Style the FlowPane for tags */
#tags {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}


/* Label inside the tags FlowPane */
.label.tag {
    -fx-background-color: white;
    -fx-padding: 3px 5px;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-border-color: #ff9cb9; /* Purple border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.progress-indicator .percentage {
    -fx-fill: black;
}

.progress-indicator  {
    -fx-padding: 0 0 -16 0;
    visibility: true;
}
