/* Set the background color and border for the card pane */
#cardPane {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Style the labels */
.cell_big_label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.cell_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

/* Style the FlowPane for tags */
#tags {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

/* Style the tags */
.tag {
    -fx-background-color: #4caf50;
    -fx-text-fill: #ffffff;
    -fx-padding: 2px 6px;
    -fx-border-radius: 3px;
    -fx-font-size: 12px;
}

.progress-indicator .percentage {
    -fx-fill: black;
}

.progress-indicator  {
    -fx-padding: 0 0 -16 0;
    visibility: true;
}
