/* Style the ListView */
.list-view {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #d8d8d8;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.list-view .list-cell {
    -fx-padding: 5px 10px;
    -fx-text-fill: #333333; /* Add this line to set the text color */
}

.list-view .list-cell:filled:selected {
    -fx-background-color: #9b9b9b;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:filled:selected:focused {
    -fx-background-color: #6495ed;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #f0f0f0;
}
