.module-group-title {
    -fx-padding: 5 12;

    -fx-font-family: 'Lexend Deca SemiBold';
    -fx-text-fill: -dark-grey;

    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-background-color: -white;
}
.module-card-group {
    -fx-padding: 5 0;
}
