# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDE files
/.idea/
/out/
/*.iml
/bin
.vscode

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
