# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/
bin/main/images/address_book_32.png
bin/main/images/calendar.png
bin/main/images/clock.png
bin/main/images/fail.png
bin/main/images/help_icon.png
bin/main/images/info_icon.png
bin/main/seedu/address/AppParameters.class
bin/main/seedu/address/commons/core/Config.class
bin/main/seedu/address/commons/core/GuiSettings.class
bin/main/seedu/address/commons/core/index/Index.class
bin/main/seedu/address/commons/core/LogsCenter.class
bin/main/seedu/address/commons/core/Messages.class
bin/main/seedu/address/commons/core/Version.class
bin/main/seedu/address/commons/exceptions/DataConversionException.class
bin/main/seedu/address/commons/exceptions/IllegalValueException.class
bin/main/seedu/address/commons/util/AppUtil.class
bin/main/seedu/address/commons/util/CollectionUtil.class
bin/main/seedu/address/commons/util/ConfigUtil.class
bin/main/seedu/address/commons/util/FileUtil.class
bin/main/seedu/address/commons/util/JsonUtil$LevelDeserializer.class
bin/main/seedu/address/commons/util/JsonUtil.class
bin/main/seedu/address/commons/util/StringUtil.class
bin/main/seedu/address/logic/commands/AddCommand.class
bin/main/seedu/address/logic/commands/ClearCommand.class
bin/main/seedu/address/logic/commands/Command.class
bin/main/seedu/address/logic/commands/CommandResult.class
bin/main/seedu/address/logic/commands/DeleteCommand.class
bin/main/seedu/address/logic/commands/EditCommand$EditPersonDescriptor.class
bin/main/seedu/address/logic/commands/EditCommand.class
bin/main/seedu/address/logic/commands/exceptions/CommandException.class
bin/main/seedu/address/logic/commands/ExitCommand.class
bin/main/seedu/address/logic/commands/FindCommand.class
bin/main/seedu/address/logic/commands/HelpCommand.class
bin/main/seedu/address/logic/commands/ListCommand.class
bin/main/seedu/address/logic/Logic.class
bin/main/seedu/address/logic/LogicManager.class
bin/main/seedu/address/logic/parser/AddCommandParser.class
bin/main/seedu/address/logic/parser/AddressBookParser.class
bin/main/seedu/address/logic/parser/ArgumentMultimap.class
bin/main/seedu/address/logic/parser/ArgumentTokenizer$PrefixPosition.class
bin/main/seedu/address/logic/parser/ArgumentTokenizer.class
bin/main/seedu/address/logic/parser/CliSyntax.class
bin/main/seedu/address/logic/parser/DeleteCommandParser.class
bin/main/seedu/address/logic/parser/EditCommandParser.class
bin/main/seedu/address/logic/parser/exceptions/ParseException.class
bin/main/seedu/address/logic/parser/FindCommandParser.class
bin/main/seedu/address/logic/parser/Parser.class
bin/main/seedu/address/logic/parser/ParserUtil.class
bin/main/seedu/address/logic/parser/Prefix.class
bin/main/seedu/address/Main.class
bin/main/seedu/address/MainApp.class
bin/main/seedu/address/model/AddressBook.class
bin/main/seedu/address/model/Model.class
bin/main/seedu/address/model/ModelManager.class
bin/main/seedu/address/model/person/Address.class
bin/main/seedu/address/model/person/Email.class
bin/main/seedu/address/model/person/exceptions/DuplicatePersonException.class
bin/main/seedu/address/model/person/exceptions/PersonNotFoundException.class
bin/main/seedu/address/model/person/Name.class
bin/main/seedu/address/model/person/NameContainsKeywordsPredicate.class
bin/main/seedu/address/model/person/Person.class
bin/main/seedu/address/model/person/Phone.class
bin/main/seedu/address/model/person/UniquePersonList.class
bin/main/seedu/address/model/ReadOnlyAddressBook.class
bin/main/seedu/address/model/ReadOnlyUserPrefs.class
bin/main/seedu/address/model/tag/Tag.class
bin/main/seedu/address/model/UserPrefs.class
bin/main/seedu/address/model/util/SampleDataUtil.class
bin/main/seedu/address/storage/AddressBookStorage.class
bin/main/seedu/address/storage/JsonAdaptedPerson.class
bin/main/seedu/address/storage/JsonAdaptedTag.class
bin/main/seedu/address/storage/JsonAddressBookStorage.class
bin/main/seedu/address/storage/JsonSerializableAddressBook.class
bin/main/seedu/address/storage/JsonUserPrefsStorage.class
bin/main/seedu/address/storage/Storage.class
bin/main/seedu/address/storage/StorageManager.class
bin/main/seedu/address/storage/UserPrefsStorage.class
bin/main/seedu/address/ui/CommandBox$CommandExecutor.class
bin/main/seedu/address/ui/CommandBox.class
bin/main/seedu/address/ui/HelpWindow.class
bin/main/seedu/address/ui/MainWindow.class
bin/main/seedu/address/ui/PersonCard.class
bin/main/seedu/address/ui/PersonListPanel$PersonListViewCell.class
bin/main/seedu/address/ui/PersonListPanel.class
bin/main/seedu/address/ui/ResultDisplay.class
bin/main/seedu/address/ui/StatusBarFooter.class
bin/main/seedu/address/ui/Ui.class
bin/main/seedu/address/ui/UiManager.class
bin/main/seedu/address/ui/UiPart.class
*.class
