#copyButton, #helpMessage, #helpMenu {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #d9d9d9;
}

#copyButton:hover {
    -fx-background-color: gray;
    -fx-text-fill: white;
}

#copyButton:armed {
    -fx-background-color: dimgray;
}

#helpMessageContainer {
    -fx-background-color: white;
}


