/*
 * This file contains the CSS for GoodMatch in light mode.
 * Remember that the order of CSS matters,
 * CSS that is lower in the file takes priority over others above.
 */

.background {
    -fx-background-color: derive(#E2E2E2, 20%);
    background-color: #C7C7C7; /* Used in the default.html file */
}


/*
 * CSS for Labels
 */
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}


/*
 * CSS for user input fields
 */
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}


/*
 * I don't see anywhere that uses tab pane or table view
 */
 /*
.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #E2E2E2;
    -fx-control-inner-background: #E2E2E2;
    -fx-background-color: #E2E2E2;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}*/


/*
 * split pane imported but not used in MainWindow
 */
 /*
.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#E2E2E2, 20%);
    -fx-border-color: transparent transparent transparent #B2B2B2;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#E2E2E2, 20%);
}*/


/*
 * CSS related to list views, card, contents of the cards, etc
 */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#E2E2E2, 20%);
    -fx-border-radius: 20;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 5 0 5 0;
    -fx-border-insets: 5 0 5 0;
    -fx-background-insets: 5 0 5 0;
    -fx-background-radius: 20;
}

.list-cell:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 5);
    -fx-transition: -fx-translate-y 0.5s ease;
    -fx-translate-y: -5px;
    -fx-background-color: #f5f5f5;
}

.list-cell:filled:even {
    -fx-background-color: #C3C1C0;
}

.list-cell:filled:odd {
    -fx-background-color: #AEA9A7;
}

.list-cell:filled:selected {
    -fx-background-color: derive(#0C0054, 100%);
    -fx-border-color: #0C0054;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-padding: 0;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #FEFAFB;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #FEFAFB;
}

.stack-pane { /* anything that is StackPane */
     -fx-background-color: derive(#E2E2E2, 20%);
}

.pane-with-border { /* used in MainWindow and ResultPane */
     -fx-background-color: derive(#E2E2E2, 20%);
     -fx-border-color: derive(#E2E2E2, 10%);
     -fx-border-top-width: 1px;
}


/*
 * CSS related to the result display section
 */
.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: white !important;
}

#resultDisplay .content { /* box that displays the results */
    -fx-background-color: transparent, derive(#C7C7C7, 30%), transparent, derive(#C7C7C7, 30%);
}


/*
 * CSS related to the status bar below
 */
.status-bar {
    -fx-background-color: derive(#E2E2E2, 30%);
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#E2E2E2, 30%);
    -fx-border-color: derive(#E2E2E2, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

/*
 * GridPane CSS
 */
.grid-pane {
    -fx-background-color: derive(#E2E2E2, 30%);
    -fx-border-color: derive(#E2E2E2, 30%);
    -fx-border-width: 1px;
}

/*
.grid-pane .stack-pane { // all StackPanes that are descendants (direct or indirect) of GridPane
    -fx-background-color: derive(#E2E2E2, 30%);
}*/


/*
 * CSS related to the menu bar on top
 */
.context-menu { /* the dropdown that appears when you click a menu button */
    -fx-background-color: derive(#E2E2E2, 50%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}

.context-menu .label { /* the text of the dropdown that appears when you click a menu button */
    -fx-text-fill: black;
}

.menu-bar { /* The menu bar itself */
    -fx-background-color: derive(#E2E2E2, 20%);
}

.menu-bar .label { /* Styles the text on a menu item */
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu { /* The File and Help menu item */
    -fx-background-color: transparent;
}

.menu:hover, .context-menu .menu-item:hover { /* menu and context menu's item on hover */
    -fx-background-color: #C7C7C7;
}

.menu:showing { /* menu when it's being shown (activated) */
    -fx-background-color: #C3C1C0;
}


/*
 * Button related CSS but the only button is in the help window and help window got their own css file...
 */
 /*
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #1D1D1D;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #E2E2E2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #272727;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #C5C5C5;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: black;
  -fx-text-fill: #E2E2E2;
}

.button:focused {
    -fx-border-color: black, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #E2E2E2;
    -fx-text-fill: black;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #000000;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}
*/


/*
 * CSS related to the dialog pane but we don't have dialog panes
 */
/*
.dialog-pane {
    -fx-background-color: #E2E2E2;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #E2E2E2;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#E2E2E2, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
    -fx-text-fill: black;
}
*/


/*
 * Scrollbar related CSS below
 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F,10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}


/*
 * Other Miscellaneous CSS
 */
#cardPane { /* each listing card has this id */
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* unused */
/*
#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}*/

#commandTextField { /* input text field that user interacts with */
    -fx-background-color: transparent #C7C7C7 transparent #C7C7C7;
    -fx-background-insets: 0;
    -fx-border-color: #C7C7C7 #C7C7C7 #000000 #C7C7C7;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

/* unused */
/*
#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
}*/

#applicants { /* for the applicant tags */
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#applicants .label { /* for the applicant tags */
    -fx-text-fill: black;
    -fx-background-color: #FFBD59;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
