// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h1, h2, h3, h5 {
  font-weight: bold;
}

h2 {
  background-color: #e46c0a;
  color: white;
  padding-left: 10px;
}

h2::after {
  width: 100%;
}

h3, h4 {
  color: #e46c0a;
}

h5, h6 {
  color: black;
}

h6 {
  text-decoration: underline;
}

.circled-number {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;

  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
}

// Vaccination requirement tags
.tag {
  background-color: #3e7b91;
  color: white;
  padding: 0px 4px;

  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 11;
}

.tag.tag-all {
  background-color: #151790;
}

.tag.tag-any {
  background-color: #119654;
}

.tag.tag-none {
  background-color: #901515;
}

// Bootstrap style alerts
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius : $alert-border-radius;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
  }
}

