// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h2, h3, h4 {
  color: #e46c0a;
}

h5, h6 {
  color: black;
}

h5 {
  font-weight: bold;
}

h6 {
  text-decoration: underline;
}

.circled-number {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;

  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
}

// Bootstrap style alerts
.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius : $alert-border-radius;
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}

// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(color-level($value, $alert-bg-level), color-level($value, $alert-border-level), color-level($value, $alert-color-level));
  }
}

