#module-list-scroll-container .scroll-bar:vertical {
    -fx-pref-width: 10;
}
#module-list-scroll-container .scroll-bar:vertical .thumb {
    -fx-background-color: -light-teal;
}

#module-list {
    -fx-padding: 0 20 0 0;
    -fx-spacing: 20;
}
