.module-card {
    -fx-min-height: 100;
    -fx-padding: 10 0;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-background-color: -dark-grey;
}
.module-card:hover {
    -fx-opacity: 1;
}
.module-card-incomplete {
    -fx-opacity: 0.5;
}
.module-card-placeholder {
    visibility: hidden;
}

#module-card-info {
    -fx-spacing: 12;
}

.module-card-tag {
    -fx-padding: 2 5;

    -fx-text-fill: -black;

    -fx-border-radius: 7;
    -fx-background-radius: 7;
}
.module-card-tag:hover {
    -fx-opacity: 0.75;
}

.module-card-tag-red {
    -fx-background-color: -tag-red;
}

.module-card-tag-orange {
    -fx-background-color: -tag-orange;
}

.module-card-tag-yellow {
    -fx-background-color: -tag-yellow;
}

.module-card-tag-green {
    -fx-background-color: -tag-green;
}

.module-card-tag-blue {
    -fx-background-color: -tag-blue;
}

.module-card-tag-purple {
    -fx-background-color: -tag-purple;
}
