/* Rolled back due to v1.4 feature freeze */
/*
.entry-task-priority-high {
    -fx-background-color: #ffc0a0!important;
}

.entry-task-priority-low {
    -fx-font-style: italic!important;
}

.entry-task-done {
    -fx-opacity: 0.5!important;
}
*/
