.dialog-pane {
    -fx-background-color: #9d4edd;
}

.dialog-pane .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
    -fx-text-fill: whitesmoke;
    -fx-wrap-text: true;
}

#confirmButton {
    -fx-background-color: #f44336;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: whitesmoke;
    -fx-font-family: Georgia;
}

#confirmButton:hover {
    -fx-background-color: #da190b;
    -fx-text-fill: black;
}
