.background {
    -fx-background-color: derive(#EFEEFC, 100%);
    background-color: #EFEEFC; /* Used in the default.html file */
}

/*Label at the left side corner*/
.label {
    -fx-font-size: 12pt;
    -fx-font-family: "SansSerif";
    -fx-opacity: 0.9;
}

/*Extra*/
.label-bright {
    -fx-font-size: 8pt;
    -fx-font-family: "SansSerif";
    -fx-opacity: 1;
}

/*Extra*/
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

/*Extra*/
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "SansSerif";
}

/*Extra*/
.tab-pane {
    -fx-padding: 0 0 0 1;
}

/*Extra*/
.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

/*Extra*/
.table-view {
    -fx-base: #EFEEFC;
    -fx-control-inner-background: #EFEEFC;
    -fx-background-color: #EFEEFC;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

/*Extra*/
.table-view .column-header-background {
    -fx-background-color: transparent;
}

/*Extra*/
.table-view .column-header, .table-view .filler {
    -fx-size: 100;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 100%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

/*Extra*/
.table-view .column-header .label {
    -fx-font-size: 100pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

/*Extra*/
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/*Extra*/
.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#EFEEFC, 100%);
    -fx-border-color: transparent transparent transparent transparent;
}

/*Extra*/
.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#EFEEFC, 100%);
}

/*Student list*/
.list-view {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding:18 18 18 18;
}

/*Individual student*/
.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 24 6 24 6;
    -fx-background-insets: 6 0 6 0;
    -fx-background-color: transparent;
    -fx-background-radius: 8;
}

.list-cell:filled:even {
    -fx-background-color: #EFEEFC;
}

.list-cell:filled:odd {
    -fx-background-color: #B9B7EF;
}

/*Background color for person list when it is highlighted*/
.list-cell:filled:even selected {
    -fx-background-color: #EFEEFC;
    -fx-text-fill: #4A4A4A;
}

.list-cell:filled:odd selected {
    -fx-background-color: #B9B7EF;
    -fx-text-fill: #4A4A4A;
}

.list-cell:filled:selected #cardPane {
    -fx-border-width: 0;
}

/*Student list text color*/
.list-cell .label {
    -fx-text-fill: #4A4A4A;
    -fx-font-family: "SansSerif";
}

.list-cell:filled:selected .label{
    -fx-text-fill: #4A4A4A;
}

.cell_big_label {
    -fx-font-family: "SansSerif";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-text-fill: #4A4A4A;
    -fx-padding: 0 0 4 0;
}

.cell_small_label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 16px;
    -fx-text-fill: #4A4A4A;
    -fx-padding: 4 0 4 0;
    -fx-wrap-text: true;
}

.title_label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #605BF1;
    -fx-padding: 18 0 -6 18;
}

/*Input field*/
.stack-pane {
    -fx-background-color: white;
    -fx-background-radius: 8;
}

/*Main field background*/
.pane-with-border {
    -fx-background-color: #EFEEFC;
}

/*Text in the result display*/
.result-display {
    -fx-font-family: "SansSerif";
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-background-radius: 6;
}

/*Extra*/
.result-display .label {
    -fx-text-fill: white !important;
}

/*Bar at the bottom*/
.status-bar {
    -fx-background-color: #605BF1;
}

/*Text in the bottom status bar*/
.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

/*Extra*/
.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

/*Extra*/
.status-bar-with-border .label {
    -fx-text-fill: white;
}

/*Extra*/
.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

/*Extra*/
.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

/*Extra*/
.context-menu .label {
    -fx-text-fill: white;
}

/*Menu bar content background color*/
.context-menu {
    -fx-background-color: #DAD8FF;
    -fx-background-radius: 2;
    -fx-padding: 4;
}

/*Top menu bar*/
.menu-bar {
    -fx-background-color: #605BF1;
    -fx-selection-bar: #433EDF;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.menu-item .label {
    -fx-text-fill: #4A4A4A;
    -fx-background-color: #DAD8FF;
    -fx-background-radius: 2;
}

.menu-item:focused {
    -fx-background-color: #605BF1;
    -fx-background-radius: 2;
}

.menu-item:focused .label{
    -fx-text-fill: white;
    -fx-background-color: #605BF1;
}
/*Extra*/
menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
/*Extra*/
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

/*Extra*/
.button:hover {
    -fx-background-color: #3a3a3a;
}

/*Extra*/
.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

/*Extra*/
.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

/*Extra*/
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

/*Extra*/
.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

/*Extra*/
.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

/*Extra*/
.dialog-pane {
    -fx-background-color: #1d1d1d;
}

/*Extra*/
.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

/*Extra*/
.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/*Extra*/
.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

/*Extra*/
.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color:#605BF1;
    -fx-background-insets: 3;
    -fx-background-radius: 4;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-pref-width: 18;
    -fx-padding: 0 2 0 2;
}

.scroll-bar:horizontal {
    -fx-background-color:transparent;
    -fx-pref-width: 18;
    -fx-padding: 2 0 2 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

/*The card background color*/
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 12px;
    -fx-text-fill: #D21515;
}

/*Input field text*/
#commandTextField {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
    -fx-text-fill: #4A4A4A;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

/*Background of the result display*/
#resultDisplay .content {
    -fx-background-color: #605BF1;
    -fx-background-radius: 6;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #FF94B4;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 14px;
}
