.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-section-header {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h1 {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 36pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h2 {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 28pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h3 {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 24pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h4 {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h5 {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-h6 {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-p {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-padding: 0; /* so that list cells do not disappear into list view padding */
}

.list-cell {
    /* Horizontal inset and padding to separate from the parent list view,
     * and bottom inset and padding to separate from the next list cell.
     * Top inset and padding for the first list cell
     * is applied programmatically as 'first-cell'.
     */
    -fx-padding: 0 0 10 0;
    -fx-background-insets: 0 10 10 10;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-label-padding: 0;
    -fx-graphic-text-gap : 0;
}

.first-cell {
    -fx-padding: 10 0 10 0;
    -fx-background-insets: 10;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #333333;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#1d1d1d, 20%);
}

.pa { /* full padding */
    -fx-padding: 10;
}

.pa-t { /* full padding except top */
    -fx-padding: 0 10 10 10;
}

.pa-r { /* full padding except right */
    -fx-padding: 10 0 10 10;
}

.pa-b { /* full padding except bottom */
    -fx-padding: 10 10 0 10;
}

.pa-l { /* full padding except left */
    -fx-padding: 10 10 10 0;
}

.ph { /* padding horizontal */
    -fx-padding: 0 10 0 10;
}

.pv { /* padding vertical */
    -fx-padding: 10 0 10 0;
}

.pt { /* padding top */
    -fx-padding: 10 0 0 0;
}

.pr { /* padding right */
    -fx-padding: 0 10 0 0;
}

.pb { /* padding bottom */
    -fx-padding: 0 0 10 0;
}

.pl { /* padding left */
    -fx-padding: 0 0 0 10;
}

.p0 {
    -fx-padding: 0;
}

.pane-with-border {
     -fx-background-color: derive(#1d1d1d, 20%);
     -fx-border-color: derive(#1d1d1d, 10%);
     -fx-border-top-width: 1px;
}

.pane-with-rounded-corner {
     -fx-background-color: derive(#1d1d1d, 40%);
     -fx-background-radius: 10;
}

.pane-with-rounded-corner-light {
      -fx-background-color: white;
      -fx-background-radius: 10;
}

.pane-with-rounded-corner-dark {
      -fx-background-color: #2c2c2c;
      -fx-background-radius: 10;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.result-display {
    -fx-background-color: transparent;
}

.result-display .content {
    -fx-background-color: transparent;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 10 0 0 0;
    -fx-padding: 10 0 0 0;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-padding: 5 10 5 10;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu-bar .menu-button:hover,
.menu-bar .menu-button:focused,
.menu-bar .menu-button:showing {
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 5;
}

.menu-item {
    -fx-background-radius: 5;
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color: #2c2c2c;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 2;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 70%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 10 0 0 0;
}

.tab {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.tab:selected {
    -fx-background-color: #c0c0c0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.tab:selected .tab-label {
    -fx-text-fill: black;
}

.tag-default {
    -fx-background-color: derive(#1d1d1d, 40%);
    -fx-background-radius: 5;
    -fx-padding: 2 4 2 4;
}

.tag-dark {
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 5;
    -fx-padding: 2 4 2 4;
}

.tag-light {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 2 4 2 4;
    -fx-text-fill: black;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#tags {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 2 4 2 4;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 12;
}

#modules {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#modules .label {
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-background-color: #ec5e45;
    -fx-background-radius: 5;
    -fx-padding: 2 4 2 4;
}

#saveLocationStatus {
    -fx-font-family: monospace;
}
