.background {
    -fx-background-color: derive(#f9f9f9, 20%);
    background-color: #f9f9f9; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1f1f1f;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1f1f1f;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1f1f1f;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*-----------------------------------------------------------------------------------------------*\
pane-with-border

Styles VBox and StackPane that contains elements in the MainWindow
\*-----------------------------------------------------------------------------------------------*/
.pane-with-border {
     -fx-background-color: derive(#f9f9f9, 20%);
     -fx-border-color: derive(#f9f9f9, 10%);
     -fx-border-top-width: 0px;
}

/*-----------------------------------------------------------------------------------------------*\
TabPane

Styles TabPane that contains ListView
\*-----------------------------------------------------------------------------------------------*/
.tab-pane {
    -fx-padding: 0 0 0 1;
}

/**
* TabPane Headers
*
* Modifies tab header region to blend in with the background by matching background color
*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-background-color: #f9f9f9;
    -fx-effect: null;
}

/**
* Modifies tabs and its states
*/
.tab {
    -fx-background-color: -fx-background;
    -fx-background: #f9f9f9;
    -fx-background-insets: 0, 1;
}

.tab:hover {
    -fx-background: #cae1ff;
}

.tab:selected {
    -fx-background: #2eabff;
}

/*-----------------------------------------------------------------------------------------------*\
ListView

Styles SupplierListPanel and TaskListPanel contained by ListView
ListView contains `cells`. Contents of `cells` are populated from `{Object}Card`
\*-----------------------------------------------------------------------------------------------*/
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#f9f9f9, 100%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}


.list-cell:filled:even {
    -fx-background-color: #f9f9f9;
}

.list-cell:filled:odd {
    -fx-background-color: #e1e1e1;
}

.list-cell:filled:selected {
    -fx-background-color: #6bc4ff;
    -fx-border-color: #2eabff;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #1f1f1f;
}

/* Styles index and name */
.cell_big_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-text-fill: #1f1f1f;
}

/* Styles fields */
.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #1f1f1f;
}

/*-----------------------------------------------------------------------------------------------*\
Cards

Styles SupplierCard and TaskCard
\*-----------------------------------------------------------------------------------------------*/
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #6bc4ff;
}


#tags {
    -fx-hgap: 7;
    -fx-vgap: 5;
}

#tags .label {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: #cae1ff;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 11;
}

#taskField {
    -fx-hgap: 7;
    -fx-vgap: 5;
}

#taskField .label {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: #cae1ff;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 11;
}

/*-----------------------------------------------------------------------------------------------*\
scroll-bar

Styles the scroll bar visible. With JavaFX, ListView is automatically scrollable
\*-----------------------------------------------------------------------------------------------*/
.scroll-bar {
    -fx-background-color: derive(#f9f9f9, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#6f6f6f, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/*-----------------------------------------------------------------------------------------------*\
status-bar

Styles the StatusBarFooter present at the bottom of the window
\*-----------------------------------------------------------------------------------------------*/
.status-bar {
    -fx-background-color: derive(#6bc4ff, 30%);
}

.status-bar .label {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #1f1f1f;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1f1f1f, 30%);
    -fx-border-color: derive(#1f1f1f, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #1f1f1f;
}

/*-----------------------------------------------------------------------------------------------*\
result-display

Styles the ResultDisplay encapsulated by StackPane
\*-----------------------------------------------------------------------------------------------*/
.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13pt;
    -fx-text-fill: #1f1f1f;
}

.result-display .label {
    -fx-text-fill: #1f1f1f !important;
}

#resultDisplay .content {
    -fx-background-color: derive(#e1e1e1, 20%);
    -fx-background-radius: 10;
}

/*-----------------------------------------------------------------------------------------------*\
commandTextField

Styles the user input in the CommandBox
Syntactic highlighting on invalid command handled by `handleCommandEntered` and `Extensions.css`
\*-----------------------------------------------------------------------------------------------*/
.stack-pane {
    -fx-background-color: derive(#e1e1e1, 20%);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13pt;
    -fx-text-fill: #1f1f1f;
}
/*-----------------------------------------------------------------------------------------------*\
menu-bar

Styles the menu bar and dropdown encapsulated by MenuItem in MainWindow
\*-----------------------------------------------------------------------------------------------*/
.menu-bar {
    -fx-border-width: 1px;
    -fx-border-color: derive(#e3e3e3, 20%);
    -fx-background-color: derive(#e3e3e3, 20%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #1f1f1f;
    -fx-opacity: 0.9;
}

/*
* Styles the dropdown menu
*/
.context-menu {
    -fx-background-color: derive(#e3e3e3, 50%);
}

.context-menu .label {
    -fx-text-fill: #1f1f1f;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1f1f1f;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}
