.root {
  /* Override of default modena css from https://gist.github.com/maxd/63691840fc372f22f470 */
  /* Arrangement follows above as well */

  -fx-base: #1d1d1d;
  -fx-background: #383838;

  /* Inside boxes */
  -fx-control-inner-background: derive(-fx-base, 10%);
  /* For alternate rows */
  -fx-control-inner-background-alt: derive(-fx-control-inner-background, 3%);

  /* Text colors */
  -fx-dark-text-color: black;
  -fx-mid-text-color: #333;
  -fx-light-text-color: white;

  /* Highlight fill color */
  -fx-accent: derive(-fx-base, -10%);

  /* Highlight flow for focus */
  -fx-focus-color: rgb(167, 138, 173);
  -fx-faint-focus-color: rgba(167, 138, 173, 0.167);

  -fx-color: -fx-base;

  -fx-hover-base: ladder(
      -fx-base,
      derive(-fx-base, -2%) 20%,
      derive(-fx-base, -5%) 35%,
      derive(-fx-base, -10%) 50%
  );

  -fx-text-background-color: ladder(
    -fx-background,
    -fx-light-text-color 45%,
    -fx-mid-text-color  46%,
    -fx-mid-text-color  59%,
    -fx-mid-text-color   60%
  );

  -fx-text-inner-color: ladder(
    -fx-control-inner-background,
    -fx-light-text-color 45%,
    -fx-mid-text-color  46%,
    -fx-mid-text-color  59%,
    -fx-dark-text-color   60%
  );

  -fx-box-border: derive(-fx-color,-15%);

  -fx-text-box-border: derive(-fx-background, -15%);

  -fx-shadow-highlight-color: derive(-fx-color, -10%);

  -fx-outer-border: derive(-fx-color, -10%);

  -fx-inner-border: derive(-fx-color, -12%);
  -fx-inner-border-horizontal: -fx-inner-border;
  -fx-inner-border-bottomup: -fx-inner-border;

  -fx-body-color: -fx-color;
  -fx-body-color-bottomup: -fx-color;
  -fx-body-color-to-right: -fx-color;

  -fx-selection-bar: -fx-accent;
  -fx-selection-bar-non-focused: derive(-fx-accent, -20%);
}

/* =========== TEXT FIELD ================================================== */

.text-field {
  -fx-prompt-text-fill: gray;
}

/* =========== SCROLL BAR ================================================== */

.scroll-bar .track {
  -fx-background-color: -fx-background;
  -fx-background-insets: 1 1 1 0;
  -fx-border-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-background-color: transparent;
  -fx-shape: " ";
  -fx-padding: 0 5 0 0;
}

.scroll-bar .thumb {
  -fx-background-color: derive(-fx-color, 50%);
  -fx-background-radius: 5;
  -fx-padding: 5;
}

/* =========== RESULT DISPLAY ============================================== */

.result-display {
  -fx-background-color: -fx-control-inner-background;
}

.result-message-error-color {
  -fx-text-fill: #d22121;
}

.result-message-warning-color {
  -fx-text-fill: #cfc018;
}

.result-message-info-color {
  -fx-text-fill: #d9d9d9;
}

/* =========== Cards ======================================================= */

.label.card-title {
  -fx-font-weight: bold;
  -fx-font-size: 16;
  -fx-text-fill: rgb(224, 152, 19);
}

.card-id-holder {
  -fx-background-color: rgb(224, 152, 19);
  -fx-background-radius: 2;
}

.label.card-sub-title {
  -fx-font-weight: bold;
  -fx-font-size: 11;
}

.label.card-attribute-label {
    -fx-font-size: 11;
    -fx-text-fill: #707070;
}

/* ===== Tag related styles ================================================ */

.tag-flow-pane {
  -fx-hgap: 5;
  -fx-vgap: 5;
}

.label.tag {
  -fx-text-fill: white;
  -fx-background-color: #3e7b91;
  -fx-padding: 1 3 1 3;
  -fx-border-radius: 2;
  -fx-background-radius: 2;
  -fx-font-size: 11;
}

.label.tag.tag-color-blue {
  -fx-background-color: #151790;
}

.label.tag.tag-color-green {
  -fx-background-color: #119654;
}

.label.tag.tag-color-red {
  -fx-background-color: #901515;
}
