@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Medium";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Bold Italic";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Satoshi Black";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Satoshi-Black.ttf");
}

.background {
    -fx-background-color: derive(#a1826d, 50%);
    background-color: #a1826d; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Open Sans";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Open Sans";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Open Sans";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #a1826d;
    -fx-background-color: #a1826d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Open Sans";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#a1826d, 50%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#a1826d, 50%);
}

.list-view {
    -fx-padding: 2px;
    -fx-background-color: derive(#a1826d, 50%);
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}

.list-cell {
    -fx-padding: 4px;
    -fx-label-padding: 5 5 5 5;
    -fx-graphic-text-gap : 10;
    -fx-background-insets: 0px, 2px ;
    -fx-background-radius: 10;
}

.list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}

.list-cell:filled:even {
    -fx-background-color:  derive(#a1826d, 50%);
}

.list-cell:filled:odd {
    -fx-background-color:  derive(#a1826d, 50%);
}

.list-cell:filled:selected {
    -fx-background-color:  derive(#a1826d, 50%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: white;
    -fx-border-width: 0;
}



.cell_big_label {
    -fx-font-family: "Open Sans";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Open Sans";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#a1826d, 50%);
}

.pane-with-border {
     -fx-background-color: derive(#a1826d, 50%);
     -fx-border-color: derive(#a1826d, 50%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#a1826d, 50%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Open Sans Medium";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Open Sans";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#a1826d, 50%);
    -fx-border-color: derive(#a1826d, 50%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 10%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#a1826d, 50%);
}

.context-menu {
    -fx-background-color: derive(#a1826d, 50%);
}

.context-menu .label {
    -fx-text-fill: derive(#a1826d, 20%);
}

.menu-bar {
    -fx-background-color: derive(#a1826d, 50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Satoshi Black";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #a1826d;
    -fx-font-family: "Open Sans";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #a1826d;
}

.scroll-bar .thumb {
    -fx-background-color: #a1826d;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;

    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Open Sans Medium";
    -fx-font-size: 13pt;
    -fx-text-fill: "white";
    -fx-prompt-text-fill: #a1826d;

}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, derive(#a1826d, 50%), transparent, derive(#a1826d, 50%);
    -fx-background-radius: 0;
}

#resultDisplay {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 10pt;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: #665A48;
    -fx-background-color: #C8DBBE;
    -fx-padding: 3 3 3 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#modules {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#modules .label {
    -fx-text-fill: white;
    -fx-background-color: #594545;
    -fx-padding: 3 3 3 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#header .label {
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 20;
}
