

/* Set background color */
.root {
  -fx-background-image: url("theme/background.png");
	/*-fx-background-color: #2c3e50; /* Dark blue */
}

/* Style buttons */
.button {
	-fx-background-color: #3498db; /* Blue */
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

/* Style labels */
.label {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

/* Style text fields and areas */
.text-field, .text-area {
	-fx-background-color: #ecf0f1; /* Light gray */
	-fx-border-width: 2px;
	-fx-border-radius: 10px;
	-fx-padding: 4px;
}

	.text-field:focused, .text-area:focused {
		-fx-border-color: #27ae60; /* Green */
	}

	.text-field:hover, .text-area:hover {
		-fx-border-color: #e67e22; /* Orange */
	}


/* Style table views */

.table-view {
	-fx-table-cell-border-color: -color-secondary-lighter-20pct;
}

.table-row-cell:selected {
	-fx-selection-bar-non-focused: #2980b9;
	-fx-selection-bar-focused: #2980b9;
}

.table-column-header {
	-fx-alignment: CENTER_LEFT;
	-fx-font-style: normal;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	padding-left: 4px;
}

.table-view:focused > .virtual-flow > *.table-row-cell:selected,
.table-view:focused > .virtual-flow > *.table-row-cell:selected:focus {
	-fx-selection-bar-non-focused: #2980b9;
	-fx-selection-bar-focused: #2980b9;
}

#entityNameLabel {
	-fx-font-size: 30px;
}

#entityClassificationLabel {
	-fx-font-size: 26px;
}

#entityDetailsLabel {
	-fx-font-size: 20px;
}

#inventoryLabel {
	-fx-font-size: 26px;
}

#inventoryValueLabel {
	-fx-font-size: 26px;
}
