.chart-pie > .chart-pie-label-line > .chart-label {
    -fx-translate-x: 20;
}

.chart-pie > .chart-pie-label-line > .chart-line {
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.chart-pie > .chart-pie-label-line > .chart-symbol {
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: black;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
}
