#exportMessage, #saveAsButton, #directoryChosen {
    -fx-text-fill: white;
    -fx-font-family: "SansSerif";
    -fx-font-size: 12pt;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

#saveAsButton {
    -fx-background-color: #FF94B4;
}

#saveAsButton:hover {
    -fx-background-color: #EF6FA3;
}

#saveAsButton:armed {
    -fx-background-color: #DD689D;
}

#exportMessageContainer {
    -fx-background-color: #605BF1;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color:#605BF1;
    -fx-background-insets: 3;
    -fx-background-radius: 4;
}

.scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-pref-width: 18;
    -fx-padding: 0 2 0 2;
}

.scroll-bar:horizontal {
    -fx-background-color:transparent;
    -fx-pref-height: 18;
    -fx-padding: 2 0 2 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}
