
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.list-view .list-cell:filled:focused:selected {
    -fx-background-color: black;
}

.list-view .list-cell:filled:focused:selected > * > * > * > HBox > Label {
    -fx-text-fill: #000000;
}

.list-view .list-cell:filled:focused:selected > * > * > * > Label {
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-text-fill: #E63946;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}
