
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

#job_earning_dollar {
    -fx-font-size: 26px;
    -fx-text-fill: #00ff0080;
}

#job_earning_cent {

}

#detail-pane {

}

.job_person_card {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.job_person_card .cell_big_label {
    -fx-text-fill: white;
}

.job_person_card .cell_small_label {
    -fx-text-fill: white;
}

.error-input {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.form-input {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #ffffff #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.form-input .text-field {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #ffffff #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.form-input .scroll-pane .viewport .content {
    -fx-background-color: transparent #383838 transparent #383838;
}

.form-input .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.form-input .label {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.form-input .arrow-button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}

.form-input .month-year-pane {
    -fx-background-color: #1d1d1d;
}

.select-radio-item:checked .left-container .radio {
    -fx-text-fill: #d8d8d8;
    -fx-padding: 2 2 2 2;
}

.select-radio-item .left-container .radio {
    -fx-text-fill: #d8d8d8;
    -fx-padding: 2 2 2 2;
}

.select-radio-item .left-container {
    -fx-border-color: #e2e2e2;
}

#contactDetailPane .person-card-container {
    -fx-padding: 0 0 0 0;
}
