.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.list-view .list-cell:filled:focused:selected {
    -fx-background-color: black;
    -fx-background-radius:5;
}

.list-view .list-cell:filled {
    -fx-background-color: transparent;
}

/* For meet list and person list */
.list-view .list-cell:filled:focused:selected > * > * > * > HBox > Label {
    -fx-text-fill: black;
}


.list-view .list-cell:filled:focused:selected > * > * > * > Label {
    -fx-text-fill: black;
}

.list-view .list-cell:empty {
    -fx-background-color: transparent;
}

/* For organised list */
.list-view .list-cell:filled:focused:selected > * > * > * > HBox > * > HBox > * > Label {
    -fx-text-fill: black;
}

.list-view .list-cell:filled:focused:selected > * > * > * > * > VBox  {
    -fx-background-color: white;
}

.list-view .list-cell:filled:focused:selected > * > * > * > * > * > * > Label  {
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .thumb {
    -fx-background-color:  rgb(227, 211, 238);
    -fx-opacity: 0.2;
    -fx-background-radius: 5;
}

.button {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(0,0,0,0);
}

.text-area .scroll-bar .thumb{
    -fx-background-color: rgba(0,0,0,0);
    -fx-pref-width: 5px;
    -fx-pref-height: 3px;
}
