#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #649494;
}

#copyButton:hover {
    -fx-background-color: #B3A79B;
}

#copyButton:armed {
    -fx-background-color: #E7D6C5;
}

#helpMessageContainer {
    -fx-background-color: #3D4A5A;
}
