#addMessage, #getMessage, #editMessage, #deleteMessage, #filterMessage, #listMessage, #saveMessage, #clearMessage, #noteMessage, #helpMessage {
    -fx-text-fill: white;
    -fx-padding: 10 0 0 0;
}

#noteMessage {
    -fx-text-fill:red;
}

#copyButton {
    -fx-text-fill: white;
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#commandListContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
