

#helpMessage {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
}

#copyButton {
    -fx-background-color: #0077B5;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

#copyButton:hover {
    -fx-background-color: #004471;
    -fx-font-family: "Arial";
}

#copyButton:armed {
    -fx-background-color: black;
    -fx-font-family: "Arial";
}

#helpMessageContainer {
    -fx-background-color: white;
    -fx-font-family: "Arial";
}
