<p><strong><span style="font-size:18px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Help Manual</span></span></strong></p>

<hr />
<h2><span style="font-size:16px"><strong><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Navigating Vimification</span></strong></span></h2>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Vimification is designed to mimic Vim as closely as possible. Navigate Vimification as you would in Vim by&nbsp;<strong>using&nbsp;</strong>h,j,k,<strong>l</strong><strong>&nbsp;to move to the left, down, up, right</strong>&nbsp;respectively.&nbsp;<strong>To open the detailed task list, use &lsquo;l&rsquo;.</strong></span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Moreover, the usual arrow keys (&uarr;, &darr;, &larr;, &rarr;) can be used as well.</span></span></p>

<h2><span style="font-size:16px"><strong><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Using the commands</span></strong></span></h2>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Similar to Vim, you can&nbsp;<strong>access command mode by pressing the&nbsp;:&nbsp;key&nbsp;</strong>on your keyboard. This will bring the cursor to the command input field, which is at the bottom of the application.</span></span></p>

<h2><span style="font-size:16px"><strong><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Information on commands&rsquo; parameters</span></strong></span></h2>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Flags like&nbsp;-d,&nbsp;-l&nbsp;and&nbsp;-p&nbsp;act as identifier for the parameter that comes immediately after the flag.</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Refer to the flag summary&nbsp;below for details of each flag.</span></span></li>
</ul>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Words in&nbsp;angle brackets&nbsp;are&nbsp;compulsory&nbsp;parameters to be supplied by the user.</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>e.g. in&nbsp;:a &lt;&quot;title&quot;&gt;, the user must provide the&nbsp;&lt;&quot;title&quot;&gt;&nbsp;parameter, for example,&nbsp;:a &quot;Do weekly quiz&quot;.</span></span></li>
</ul>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Words in&nbsp;square brackets&nbsp;are&nbsp;optional&nbsp;parameters to be supplied by the user.</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>e.g.&nbsp;:a &lt;&quot;title&quot;&gt; [-d &lt;deadline&gt;], the user need not provide the&nbsp;&lt;deadline&gt;&nbsp;parameter.</span></span></li>
</ul>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Bracketed items with&nbsp;&hellip; behind means that user can provide multiple parameters.</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>e.g.&nbsp;:a &lt;&#39;title&quot;&gt; [-l &lt;label&gt;]&hellip;, for example,&nbsp;:a &quot;Do OP2 slides&quot; -l cs2101,&nbsp;:a Do OP2 slides -l cs2101 -l presentation&nbsp;are both acceptable.</span></span></li>
</ul>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameters identified by flags can be in any order.</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>e.g.&nbsp;:a &quot;Do OP2 slides&quot; -l cs2101 -p high,&nbsp;:a &quot;Do OP2 slides&quot; -p high -l cs2101&nbsp;are both acceptable.</span></span></li>
</ul>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>For commands that do not take in parameters (such as&nbsp;help,&nbsp;list,&nbsp;exit&nbsp;and&nbsp;clear), any parameter provided will be ignored.</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>e.g. if the user inputs&nbsp;:help 123, it will be interpreted as&nbsp;help.</span></span></li>
</ul>

<hr />
<h2><span style="font-size:16px"><strong><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Features and commands</span></strong></span></h2>

<h3><span style="font-size:14px"><strong><span style="color:#3498db"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Adding task</span></span></strong></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Adds a task to the current task list.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:a &lt;&quot;title&quot;&gt; [-d &lt;deadline&gt;] [-l &lt;label&gt;]... [-p &lt;priority&gt;]</span></span></p>

<table style="width:470px">
	<thead>
		<tr>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameter</span></span></p>
			</td>
			<td style="width:181px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Detail</span></span></p>
			</td>
			<td style="width:62px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Compulsory</span></span></p>
			</td>
			<td style="width:121px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Example</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;title&gt;</span></span></p>
			</td>
			<td style="width:181px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Title of the task&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></p>
			</td>
			<td style="width:62px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;Yes</span></span></p>
			</td>
			<td style="width:121px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; CS2103T UG</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;deadline&gt;</span></span></p>
			</td>
			<td style="width:181px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Deadline of the task&nbsp; &nbsp;</span></span></p>
			</td>
			<td style="width:62px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;No</span></span></p>
			</td>
			<td style="width:121px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; 2023-03-31</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;label&gt;</span></span></p>
			</td>
			<td style="width:181px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Label given to the task</span></span></p>
			</td>
			<td style="width:62px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;No</span></span></p>
			</td>
			<td style="width:121px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; presentation</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;priority&gt;</span></span></p>
			</td>
			<td style="width:181px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Priority level assigned to the task</span></span></p>
			</td>
			<td style="width:62px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;No</span></span></p>
			</td>
			<td style="width:121px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; 1</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Note: SoC students can put module code as the label.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1.&nbsp;:a &quot;Enhance CS2103T tp user guide&quot; -d 2023-03-31 -l cs2103t -p 1</span></span></p>

<h3>&nbsp;</h3>

<h3><span style="font-size:14px"><strong><span style="color:#3498db"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Inserting parameters to a task</span></span></strong></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Insert the parameter as specified by the flag of a task to the current task list as specified by the task number.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:i &lt;task_index&gt; [-d &lt;deadline&gt;] [-l &lt;label_name&gt;]</span></span></p>

<table style="width:582px">
	<thead>
		<tr>
			<td style="width:79px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameter</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Detail</span></span></p>
			</td>
			<td style="width:276px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:79px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;task_index&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Index of the target task&nbsp;</span></span></p>
			</td>
			<td style="width:276px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>3 (assuming the task list has at least 3 tasks)</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:79px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;deadline &gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Deadline of task you want to insert</span></span></p>
			</td>
			<td style="width:276px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2023-04-05</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:79px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;label_name&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Name of the label you want to insert</span></span></p>
			</td>
			<td style="width:276px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>s2103t(assuming the task list has this label)</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1.&nbsp;:i 3 -d 2023-04-5&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;inserts the deadline to task 3</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2.&nbsp;:i 3 -l cs2103t&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; inserts the &ldquo;cs2103t&rdquo; label to task 3</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Condition</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>At least one for the flags should be present.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index refers to the index number shown in the displayed task list.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index&nbsp;must be a positive integer, i.e 1, 2, 3 etc.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index must not exceed the number of tasks in the displayed task list.</span></span></li>
</ul>

<h3>&nbsp;</h3>

<h3><strong><span style="color:#3498db"><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Deleting task</span></span></span></strong></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Deletes a task from the current task list by specifying the task number.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:d &lt;task_index&gt;</span></span></p>

<table style="width:706px">
	<thead>
		<tr>
			<td style="width:101px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameter</span></span></p>
			</td>
			<td style="width:200px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Detail&nbsp;</span></span></p>
			</td>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;Compulsory</span></span></p>
			</td>
			<td style="width:297px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:101px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;task_index&gt;</span></span></p>
			</td>
			<td style="width:200px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Index of the task you want to delete</span></span></p>
			</td>
			<td style="width:78px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; Yes</span></span></p>
			</td>
			<td style="width:297px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;3 (assuming the task list has at least 3 tasks)</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1. :d 3&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; deletes task 3</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Condition</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index refers to the index number shown in the displayed task list.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index&nbsp;must be a positive integer, i.e 1, 2, 3 etc.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index must not exceed the number of tasks in the displayed task list.</span></span></li>
</ul>

<h3>&nbsp;</h3>

<h3><strong><span style="color:#3498db"><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Deleting parameters of a task</span></span></span></strong></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Deletes the parameter as specified by the flag of a task from the current task list as specified by the task number.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:d &lt;task_index&gt; [-d] [-l &lt;label_name&gt;]</span></span></p>

<table style="width:589px">
	<thead>
		<tr>
			<td style="width:97px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameter</span></span></p>
			</td>
			<td style="width:215px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Detail</span></span></p>
			</td>
			<td style="width:253px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:97px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;task_index&gt;</span></span></p>
			</td>
			<td style="width:215px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Index of the target task</span></span></p>
			</td>
			<td style="width:253px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>3 (assuming the task list has at least 3 tasks)</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:97px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;label_name&gt;</span></span></p>
			</td>
			<td style="width:215px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Name of the label you want to delete</span></span></p>
			</td>
			<td style="width:253px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>cs2103t (assuming the task list has this label)</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1. :d 3 -d&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;deletes the deadline of task 3</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2. :d 3 -l cs2103t&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; deletes the &ldquo;cs2103t&rdquo; label of task 3</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Condition</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>At least one for the flags should be present. Else, command will be treated as deleting the task at index number.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index refers to the index number shown in the displayed task list.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index&nbsp;must be a positive integer, i.e 1, 2, 3 etc.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index must not exceed the number of tasks in the displayed task list, otherwise Vimification will show an error message.</span></span></li>
</ul>

<h3>&nbsp;</h3>

<h3><span style="color:#3498db"><strong><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Editing task</span></span></strong></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Edit the parameters as specified by the flag of a task in the current task list as specified by the task number.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:e &lt;task_index&gt; [-t &lt;title&gt;] [-d &lt;deadline&gt;] [-s &lt;status&gt;] [-p &lt;priority&gt;] [-l &lt;previous_label&gt; &lt;new_label&gt;]...</span></span></p>

<table style="width:580px">
	<thead>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameter</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Detail</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;title&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>New title of task</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&quot;CS2103T UG&quot;</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;deadline&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>New deadline of the task</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2023-03-31</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;status&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>New status of task</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;priority&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Priority level assigned to the task</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;1</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;previous_label&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Name of the label you want to edit</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>cs2103t(assuming the task list has this label)</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:94px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;new_label&gt;</span></span></p>
			</td>
			<td style="width:203px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>New name of the label</span></span></p>
			</td>
			<td style="width:257px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;group project</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1. :e 3 -t &quot;quiz&quot;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; edits the title of task 3 to &ldquo;quiz&rdquo;</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2. :e 3 -d 2023-04-05&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;edits the deadline of task 3 to 2023-04-05</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>3. :e 3 -s 1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;edits the status of task 3 to be in progress</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>4. :e 3 -p 1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;edits the priority of task 3 to be in urgent</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>5. :e 3 -l oldLabel newLabel&nbsp; &nbsp; &nbsp; &nbsp;edits oldLabel of task 3 to be newLabel</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Condition</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>At least one for the flags should be present.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index refers to the index number shown in the displayed task list.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index&nbsp;must be a positive integer, i.e 1, 2, 3 etc.</span></span></li>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>The index must not exceed the number of tasks in the displayed task list, otherwise Vimification will show an error message.</span></span></li>
</ul>

<h3>&nbsp;</h3>

<h3><strong><span style="color:#3498db"><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Filtering task</span></span></span></strong></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Filter the parameters as specified by the flag.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:f [-w &quot;&lt;keyword&gt;&quot;] [-d --before/after &lt;date&gt;] [-s &lt;status&gt;] [-p &lt;priority&gt;] [-l &lt;label&gt;]...</span></span></p>

<table style="width:588px">
	<thead>
		<tr>
			<td style="width:69px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Parameter</span></span></p>
			</td>
			<td style="width:234px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Detail</span></span></p>
			</td>
			<td style="width:261px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Example</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:69px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&quot;&lt;keyword&gt;&quot;</span></span></p>
			</td>
			<td style="width:234px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Keyword of task to filter</span></span></p>
			</td>
			<td style="width:261px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;&quot;CS2103T UG&quot;</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:69px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;date&gt;</span></span></p>
			</td>
			<td style="width:234px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Date of the task to filter before or after</span></span></p>
			</td>
			<td style="width:261px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2023-03-31</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:69px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;status&gt;</span></span></p>
			</td>
			<td style="width:234px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Status of task to filter</span></span></p>
			</td>
			<td style="width:261px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:69px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;priority&gt;</span></span></p>
			</td>
			<td style="width:234px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Priority level of task to filter&nbsp;</span></span></p>
			</td>
			<td style="width:261px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;1</span></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:69px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&lt;label&gt;</span></span></p>
			</td>
			<td style="width:234px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp;Label of task to filter</span></span></p>
			</td>
			<td style="width:261px">
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>cs2103t(assuming the task list has this label)</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1. :f -2 &quot;quiz&quot;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;filter for tasks with &ldquo;quiz&rdquo; as keyword</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2. :f -d --before 2023-04-05&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter for tasks before 2023-04-05</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>3. :f -s 1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter for tasks with status of in_progress</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>4. :f -p 1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter for tasks with priority of urgent</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>5. :f -l cs2103t&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filter for tasks with label of cs2103t</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Condition</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Only one flag should be present.</span></span></li>
</ul>

<h3>&nbsp;</h3>

<h3><span style="color:#3498db"><span style="font-size:14px"><strong><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Sorting task</span></strong></span></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Sort the parameters as specified by the flag.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:s [-t] [-d] [-p]</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Example of command</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>1. :s -t&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;sort for tasks by title</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>2. :s -d&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sort for tasks by deadline</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>3. :s -p&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; sort for tasks by priority level</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Condition</span></span></p>

<ul>
	<li><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Only one flag should be present.</span></span></li>
</ul>

<h3><span style="color:#3498db"><strong><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>General information on MACRO commands</span></span></strong></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>Sometimes we might be adding the exact same task every week, say <code>:a "Do CS2103 weekly quiz"</code>.
	Typing repeated and identical command could be time consuming and Vimification is aware of it.
	This is where MACRO command comes in.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>MACRO is like a customisable template like command, to streamline the process of running repeated commands.
	For example, to save <code>:a "Do CS2103 weekly quiz" -d Friday 14:00</code> as a MACRO, user can simply input
	the command, <code>:macro -a CS2103WeeklyQuiz ":a 'Do CS2103 weekly quiz' -d Friday 14:00"</code>.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>The same method works for deletion of tasks & listing of tasks, which is respectively represented by the
	command headings, <code>:macro -d` and `:macro -l</code> respectively. You can also use more verbose flags like <code>--add</code>,
	<code>--delete</code> and <code>--list</code> instead of <code>-a</code>, <code>-d</code> and <code>-l</code> while typing MACRO commands.</span></span></p>

<h3><span style="color:#3498db"><strong><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>Undoing the previous command</span></span></strong></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>You can undo the previous command by simply keying in <code>:undo</code>.</span></span></p>

<h3><span style="color:#3498db"><strong><span style="font-size:14px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Exiting the application</span></span></strong></span></h3>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
	>Similar to Vim, we can use the&nbsp;:wq!,&nbsp;:q!,,:wq,:q&nbsp;commands to exit the application.</span></span></p>

<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Format:&nbsp;:wq!,&nbsp;:q!,,:wq,:q</span></span></p>

<hr />
<h2><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Flag summary</span></span></h2>

<table>
	<thead>
		<tr>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Flag</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Meaning</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>Conditions</span></span></p>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>-t</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;title of description</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cannot be empty, enclosed in open close quotation marks</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>-d</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;deadline of description</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;In the format of YYYY-MM-dd or YYYY-MM-dd HH:mm</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>-l</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;label of task</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Cannot be empty</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>-p</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;priority of task</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1 for very urgent, 2 for urgent, 3 for not urgent, 4 for unknown</span></span></p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>-s</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp;status of task</span></span></p>
			</td>
			<td>
			<p><span style="font-size:11px"><span style="font-family:"Segoe UI, Tahoma, Genev, Verdana, sans-serif"
>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;0 for not done, 1 for in progress, 2 for completed, 3 for overdue</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
