@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Medium";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Semi Bold";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Satoshi Black";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Satoshi-Black.ttf");
}

@font-face {
    font-family: "Satoshi Black";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Satoshi-Black.ttf");
}

.label {
    -fx-font-size: 13;
    -fx-font-family: "Satoshi Black";
    -fx-text-fill:  #574539;
}

#studentId {
    -fx-font-size: 11;
    -fx-text-fill:  "white";
}
