.command-box {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 5 5;
}

.person-card-box {
    -fx-background-color: #e63946;
    -fx-background-radius: 0 5 0 5;
    -fx-padding: 3;
}

.person-card-upper-box-element {
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
}

.person-card-lower-box-element {
    -fx-text-fill: #5e5e5e;
}

.person-list-panel {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
}

.result-display-panel {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.result-display-text {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
