<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./ManualPanel.css" />
  </head>
  <body>
<h1>Vimification Manual Page.</h1>
<p>
  Vimification is a
  <strong
    >desktop app for managing tasks, optimized for use via a Command Line
    Interface</strong
  >
</p>

<h2 id="purpose-of-this-user-guide">Purpose of this User Guide</h2>
<p>
  The purpose of this user guide is to provide you with a comprehensive resource
  that will guide you through the various features and functionality of the app,
  so that you can efficiently manage your tasks and deadlines using
  VimPlanner&#39;s powerful and intuitive interface.
</p>
<p>
  The guide will walk you through the process of creating and managing tasks,
  setting due dates, prioritizing work, and tracking progress, among other
  topics. It will provide you with clear and concise instructions that are easy
  to follow, whether you are a new Vim user or an experienced Vim enthusiast.
</p>
<p>
  Additionally, it will offer troubleshooting tips and solutions to common
  issues that you may encounter while using VimPlanner, and provide you with a
  comprehensive resource that will help you optimize your productivity and stay
  on top of your tasks and deadlines.
</p>
<p>
  Overall, we hope to empower you to streamline your daily workflows and
  increase your productivity. So, let&#39;s get started!
</p>
<p class="back-to-top" style="text-align: right">
  <a href="#table-of-contents">Back to Top &#8593;</a>
</p>

<hr />
<h3 id="quick-start">Quick Start</h3>
<p>Some example commands you can try:</p>
<ul>
  <li>
    <p>
      "<code>:a Enhance CS2103T tp user guide</code>" to add a task with the
      title "<code>Enhance CS2103T tp user guide</code>" to Vimification.
    </p>
  </li>
  <li>
    <p>
      "<code>:a Finish up weekly tp tasks -d 2023-04-01</code>" to add a task
      with the title "<code>Finish up weekly tp tasks</code>" and deadline
      "<code>2023-04-01</code>" to Vimification.
    </p>
  </li>
  <li>
    <p>
      "<code>:d 2</code>" to delete the 2nd task shown in the current list.
    </p>
  </li>
  <li>
    <p>"<code>:wq</code>" to exit the app.</p>
  </li>
</ul>

<hr />
<h2 id="navigating-vimification">Navigation</h2>
<p>
  Use <code>h</code>,<code>j</code>,<code>k</code>,<code>l</code> (or the usual arrow keys) to move to the
  left, down, up, right respectively.
</p>

<h2 id="viewing-help">Viewing help</h2>
<p>Key in "<code>:help</code>" to access the help page.</p>


<h2 id="buy-grocery">To add "Buy grocery" as a task and inidicate its priority as not urgent</h2>
<p>
  <code>:a Buy grocery -p not_urgent</code>
</p>

<h2 id="essay-deadline">To add "Essay deadline" as a task, put a deadline with it and inidicate its priority as very urgent</h2>
<p>
  <code>:a Essay deadline -d 2023-03-31 2359 -p very_urgent</code>
</p>

<h2 id="cs2105-assignment">To add "Prepare OP2 slides" as a task and tag it under the labels <code>CS2101</code> and <code>presentation</code></h2>
<p>
  <code>:a Prepare OP2 slides -l CS2101 -l presentation</code>
<br />
  or <code>:a Prepare OP2 slides -l presentation -l CS2101</code>
</p>

<p><strong>Notes:</strong>
  <ul>
    <li>Attributes like label (<code>-l</code>), deadline (<code>-d</code>) and priority (<code>-p</code>) are all optional.</li>
    <li>You can input these optional attributes in any order.</li>
  </ul>
</p>
<h2 id="deleting-task">Delete task number 4</h2>
<p>
  <code>:d 4</code>
</p>

<h2 id="exiting-the-application">Exit the application</h2>
<p>
  <code>:wq!</code>,
  <code>:q!</code>,<code>:wq</code> or <code>:q</code>
</p>