#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#textArea {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
}


