/* Style the StackPane */
/* Credit https://www.freepik.com/ for free image */

.pane-with-border {
    -fx-background-image: url("grassland.png");
    -fx-background-size: 100% auto; /* Scale the background image horizontally to fit the width of the container */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; /* Center the background image vertically */
    -fx-padding: 10px;
}

/* Style the Label */
.result-display {
    -fx-text-fill: #000000; /* White text for better contrast against the grass background */
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
}
