#studentLessonsContainer {
    -fx-background-color: #555555;
}

.label {
    -fx-padding: 0 0 5px 0;
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: white;
}

#lessonList {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-text-color: white;
}

#lessonList .list-cell:even {
    -fx-background-color: #3f3f3f;
}

#lessonList .list-cell:odd {
    -fx-background-color: #2e2e2e;
}

#lessonList .list-cell:filled:selected:focused {
    -fx-background-color: #6e6e6e;
}

#lessonList .list-cell:filled:selected {
    -fx-background-color: #5e5e5e;
}
