.background {
    -fx-background-color: #FAFAFA;
    background-color: #FAFAFA; /* Used in the default.html file */
}

.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
    -fx-background-color: #FFFFFF;
}

.label-bright {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "SpaceGrotesk Regular";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #FAFAFA;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #FAFAFA;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #FAFAFA;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #FAFAFA;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #FAFAFA;
}

.list-cell:filled:even {
    -fx-background-color: #F8F5E4;
}

.list-cell:filled:odd {
    -fx-background-color: #F9F9F9;
}

.list-cell:filled:selected {
    -fx-border-width: 1px;
    -fx-border-color: derive(#3F72AF, 20%);
    -fx-background-color: #DBE2EF;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #112D4E;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #112D4E;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
}

.cell_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: #64748B;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
}

.stack-pane {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: derive(#E4E4E7, 20%);
}

.pane-with-border {
    -fx-background-color: #FAFAFA;
    -fx-border-color: derive(#F3F4F6, 10%);
    -fx-border-top-width: 1px;
}

.right-pane-with-border {
    -fx-background-color: #FAFAFA;
    -fx-border-color: derive(#F3F4F6, 10%);
    -fx-border-width: 0px;
}

.status-bar {
    -fx-background-color: #112D4E;
}


.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-background-color: #112D4E;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#888EA4, 50%);
}

.context-menu .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#FAFAFA, 20%);
    -fx-padding: 0 0 0 20;
}

.menu-bar .label {
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #112D4E;
    -fx-opacity: 0.9;
    -fx-background-color: transparent;
}

.menu .left-container {
    -fx-background-color: #FAFAFA;
}

.button {
    -fx-background-color: #FAFAFA;
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #95959b;
    -fx-opacity: 0.9;
    -fx-padding: 8 10 8 8;
}

.button:hover {
    -fx-background-color: #F2F2F2;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #959595;
}


.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #112D4E;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#64748B, 85%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#E0DCE5, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: #112D4E;
}

/* String view */
.string-display {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-font-size: 16px;
    -fx-text-fill: #112D4E;
    -fx-wrap-text: true;
    -fx-border-insets: 0px;
}

.string-display .text-area {
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-text-fill: #112D4E;
    -fx-wrap-text: true;
}

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}

/* Role View */
.role-display-card {
    -fx-background-color: transparent;
    -fx-border-color: #112D4E;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.role-display-headers {
    -fx-font-weight: bold;
    -fx-font-size: 18pt;
    -fx-text-fill: #112D4E;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
}

/* Role View */
.role-display-body {
    -fx-font-size: 12pt;
    -fx-text-fill: #112D4E;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
}

.role-display-body-highlight {
    -fx-font-size: 13pt;
    -fx-wrap-text: true;
    -fx-background-color: yellow;
    -fx-background-radius: 5px;
    -fx-text-fill: black
}

.role-display-tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}
.role-display-tags > * {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12;
}


#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #112D4E;
}

#commandTextField {
    -fx-background-color: transparent;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-size: 13pt;
    -fx-text-fill: #112D4E;
}

#commandSuggestionTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-size: 13pt;
    -fx-text-fill: #112D4E;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

/*#resultDisplay .content {*/
/*    -fx-background-color: transparent;*/
/*    -fx-background-radius: 0;*/
/*}*/

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12;
}
