#name {
    -fx-font-family: 'SansSerif Bold Italic', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 23px;
    -fx-text-fill: #000000;
}

#phone, #email, #address, #telegramHandle, #groupTags, #moduleTags {
    -fx-font-family: "SansSerif";
    -fx-font-size: 14px;
    -fx-text-fill: #4d4d4d;
    -fx-padding: 2;
}

#userProfilePane {
    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.5;
}
