#container {
    -fx-border-width: 0;
    -fx-background-radius: 10;
    -fx-background-color: #143D4D;
    -fx-padding: 15;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5 0;
}
.list-view {
    -fx-background-color: transparent;
}

#container .label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
}

.title {
    -fx-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 25px;
}

.description {
    -fx-fill: white;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
}

#sideLabel {
    -fx-background-color: #D40E2F;
    -fx-padding: 7.5 15;
    -fx-font-size: 16px;
    -fx-background-radius: 22.5;
}

#emptyLabel {
    -fx-font-size: 20px;
}

.cell_small_label {
    -fx-font-size: 15px;
    -fx-wrap-text: true;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.list-view .corner {
    -fx-background-color: transparent;
}

.reviews {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.multiple-items {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.multiple-items .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 13px;
}

