<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./WelcomePanel.css" />
  </head>
  <body>
    <div id="root">
      <h1>Welcome to Vimification</h1>

      <h2>Navigating around</h2>
      <p>
        Use "<code>h</code>","<code>j</code>","<code>k</code>","<code>l</code>"
        to navigate the menu.
      </p>

      <h2>Executing Commands</h2>
      <p>Press the "<code>:</code>" key on your keyboard.</p>

      <h2>Need help?</h2>
      <p>Key in "<code>:help</code>".</p>

      <h2>How to quit?</h2>
      <p>Key in "<code>:quit</code>".</p>
    </div>
  </body>
</html>
