#tags {
    -fx-background-color: #588157;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 0.5, 0.5, 2, 2);
}

#date {
    -fx-font-style: italic;
    -fx-text-fill: #3d3c38;
    -fx-font-family: courier;
    -fx-font-size: 10px;
}

#cardPane {
    -fx-background-color: #369fc2;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(24, 87, 87, 1.0), 0, 0, 5, 5);
    -fx-text-fill: #dbd8d0;
}

#id {
    -fx-font-size: 18px;
    -fx-font-family: verdana;
    -fx-font-weight: bold;
}

#noteContent {
    -fx-font-size: 18px;
    -fx-font-family: candara;
}

#cardPane : hover {
    -fx-background-color: #1884a8;
    -fx-background-radius: 8;
    -fx-text-fill: whitesmoke;
}
