#homeworkListView .label {
    -fx-text-fill: #1d1d1d;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15;
}

#endTime {
    -fx-padding: 0 0 0 10;
}

#upcomingLessonsListName {
    -fx-padding: 15 15 15 15;
}
