.background {
    -fx-background-color: derive(white, 20%);
    background-color: white; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Comic Sans MS";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #f7f7f7;
    -fx-background-color: #f7f7f7;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#f7f7f7, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #f2f2f2;
}

.list-cell:filled:odd {
    -fx-background-color: #dbdbdb;
}

.list-cell:filled:selected {
    -fx-background-color: #b4c5d4;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.5, 2, 3);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: black;
    -fx-border-style: solid solid solid none;
    -fx-border-radius: 2;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #1d1d1d;
}

.cell_big_label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-text-fill: #f7f7f7;
}

.cell_small_label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 13px;
    -fx-text-fill: #f7f7f7;
}

.stack-pane {
     -fx-background-color: derive(#f7f7f7, 20%);
}


.grid-pane {
    -fx-background-color: derive(#f7f7f7, 30%);
    -fx-border-color: derive(#f7f7f7, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#f7f7f7, 30%);
}


.dialog-pane {
    -fx-background-color: #f7f7f7;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #f7f7f7;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#f7f7f7, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#f7f7f7, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#6b6b6b, 50%);
    -fx-background-insets: 3;
    -fx-background-radius: 7;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#contentSection {
    -fx-background-color: #e8f5fc;
}
