.context-menu {
    -fx-background-color: derive(#004175, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#004175, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}
