/* =============================================================================================== */
/* CLI (RIGHT) SECTION */
/* =============================================================================================== */
#cli-section {
    -fx-pref-width: 480;
    -fx-padding: 0 30;

    -fx-font-family: 'Courier Prime Bold';
    -fx-font-size: 14;
    -fx-text-fill: -white;
}

#cli-screen-outer-container {
    -fx-padding: 20 0;

    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-background-color: -dark-grey;
}

#cli-screen-scroll-container {
    -fx-fit-to-height: true;
}
#cli-screen-scroll-container .scroll-bar:vertical {
    -fx-pref-width: 15;
}
#cli-screen-scroll-container .scroll-bar:vertical .thumb {
    -fx-background-color: -black;
}

#cli-screen {
    -fx-padding: 0 20;
    -fx-spacing: 10;
}

#cli-screen-welcome-dialog {
    -fx-spacing: 75;
}

#cli-screen-welcome-message {
    -fx-spacing: 10;
}

#cli-screen-contributors-section {
    -fx-spacing: 10;
}
#cli-screen-contributors-section-deco {
    -fx-pref-height: 3;
    -fx-max-width: 75;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-background-color: -teal;
}
#cli-screen-contributors {
    -fx-spacing: 5;
}

#cli-input-container {
    -fx-padding: 15 60;
}
#cli-input {
    -fx-padding: 15 20;

    -fx-border-radius: 20;
    -fx-background-radius: 20;

    -fx-background-color: -teal;

    -fx-text-fill: -white;
    -fx-prompt-text-fill: -white;
    -fx-prompt-text-font-weight: bold;
}
